
@font-face { font-family: WWFRegular; src: url('wwf-webfont.ttf'); }

body {
    padding: 0px;
    margin: 0px;
    background-color: #2ECC40;
}

body:hover{
    cursor: default;
}

hr {
    border: 1px solid darkgreen;
    border-radius: 30px;
}

#cmdHeader {
    font-family: WWFRegular, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 15%;
    font-size: 50px;
    line-height: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#cmdTitle {
    padding-top: 20px;
    padding-bottom: 0px;
    background: darkgreen;
    transition: 500ms;
}

#cmdTitle:hover {
    font-size: 55px;
    color: floralwhite;
    transition: 500ms;
    padding-bottom: 5px;
}

#cmdTitle:hover #cmdDescription {
    margin-top: 30%;
}

#cmdSubTitle {
    background: darkgreen;
    font-size: 35px;
    padding-bottom: 20px;
}

#cmdLogo {
    height: 150%;
    transition: 500ms;
}

#cmdLogo:hover {
    height: 160%;
    transform: rotate(360deg);
    transition: 500ms;
}

#cmdDescription {
    line-height: 30px;
    position: absolute;
    top: 45%;
    left: 25%;
    color: white;
    width: 50%;
    font-family: Arial;
    text-align: center;
}

#descriptionText {
    top: 40%;
}

button {
    border: none;
    background: none;
    color: white;
    margin-top: 10px;
    font-family: Arial;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
    transition: 300ms;
}

button:hover {
    cursor: pointer;
    transition: 300ms;
    font-size: 25px;
    background: darkgreen;
    border-radius: 5px;
}

button:focus {
    outline: none;
}

#statusHeader {
    border: 2px solid deepskyblue;
    padding-top: 10px;
    background: white;
    text-align: left;
    padding-left: 20px;
    color: black;
    font-family: WWFRegular;
    letter-spacing: 1px;
    font-size: 20px;
    padding-bottom: 10px;
}

#serverStatusText {
    padding-left: 15px;
    text-align: left;
    line-height: 50px;
    font-family: Inconsolata;
    background: darkgrey;
    border-radius: 2px;
    border-color: darkgreen;
    border-width: 3px;
}

/*This next code is for the animation of the 3 dots*/
.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media only screen and (max-width: 1200px) {

    #cmdTitle {
        padding-top: 0%;
        font-size: 130%;
        line-height: 150%;
    }

    #cmdTitle:hover {
        padding-top: 0%;
        font-size: 140%;
    }


    #cmdSubTitle{
        font-size: 100%;
        padding-bottom: 5%;
        margin-bottom: 10%;
    }


    #cmdDescription {
        padding-top: 0%;
        left: 5%;
        width: 90%;
        font-size: 200%;
        line-height: 210%;
    }

    #statusHeader {
        padding: 5px;
    }

    button {
        font-size: 150%;
    }

}