<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>OOPP98 | SERVER</title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>

        <div id="cmdHeader">
            <img src="images/iconApp.png" id="cmdLogo">
            <div id="cmdTitle"> CLIMA MUTATIO DOLUS </div>
            <div id="cmdSubTitle"> SERVER </div>
        </div>

        <div id="cmdDescription">
            <p id="descriptionText"> Clima Mutatio Dolus is an app designed with the purpose to make it easier to keep track of eco-friendly decisions and their impact on
            the world, all whilst providing an engaging experience that will hopefully motivate the user to keep a greener lifestyle.
            <hr>
            This app was developed by [OOPP Group 98], composed of: Alexander van Vugt, Álvaro Buj Mancha, Bejruz Domínguez Adilova,
                Jonathan Garack, Lachezar Lesichkov, Omar Mohamed Hosny Hussein, and Vidas Bacevičius.
            <hr>
            You can download our app <button>here</button>
            </p>
        </div>
    </body>
</html>